.customizables {
  background-color: white;
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  scroll-snap-align: start;
  position: relative;
  height: 100vh;
}

.customizables-title {
  font-family: kanit-regular;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.customizables-title > h3 {
  font-size: var(--font-xl);
}

.customizables-title > p {
  font-size: var(--font-l);
}

#carrousel {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.carrousel-image {
  position: relative;
  z-index: 900;
  object-position: top;
  object-fit: cover;
  width: 130%;
  height: 130%;
  overflow: hidden;
}

.light {
  z-index: 1;
  position: absolute;
  right: 0;
  height: 100%;
  width: 60%;
  background: rgb(250, 250, 252);
  background: linear-gradient(135deg, #ffffff 50%, #2056a4 100%);
}

.wiggle-container {
  height: 100px;
  position: absolute;
  z-index: 40;
  bottom: 100px;
  font-family: kanit-regular;
  display: flex;
  align-items: flex-end;
  justify-items: center;
}

.wiggle-container > p {
  width: 200px;
  text-align: center;
}

.arrow {
  height: 150px;
  width: 150px;
  filter: invert(24%) sepia(90%) saturate(1970%) hue-rotate(173deg) brightness(90%) contrast(97%);
}
