.hero {
  display: flex;
  scroll-snap-align: start end;
  height: 100vh;
}

.heroTitle {
  font-family: kanit-regular;
  font-size: var(--font-xl);
  color: black;
}

.heroImg {
  height: 100vh;
}

.sideContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}
